<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
      <div class="header-logo">
        <img src="/images/tesla-headerLogo.svg" alt="logo">
      </div>
      <div class="model-menu">
        <ul>
          <li>Model S</li>
          <li>Model 3</li>
          <li>Model X</li>
          <li>Model Y</li>
          <li>Solar Roof</li>
          <li>Solar Panels</li>
        </ul>
      </div>
      <div class="header-menu">
        <ul>
          <li>Shop</li>
          <li>Account</li>
          <li>Menu</li>
        </ul>
      </div>
    </nav>

    <div class="swiper">

      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Model 3</h1>
              <p>Order Online for <a href="#">Touchless Delivery</a></p>
            </div>
            <div class="button">
              <button class="left-btn">CUSTOM ORDER</button>
              <button class="right-btn">EXISTING INVENTORY</button>
            </div>
            </div>
          </div>
          
          <a href="#slider-2" class="down-arrow-link">
            <div class="down-arrow"></div>
          </a>
  
          <div class="img-wrap">
            <img src="/images/tesla-model3.webp" alt="model3">
          </div>
        </div>

        <div class="swiper-slide" id="slider-2">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Model Y</h1>
              <p>Order Online for <a href="#">Touchless Delivery</a></p>
            </div>
            <div class="button">
              <button class="left-btn">CUSTOM ORDER</button>
              <button class="right-btn">EXISTING INVENTORY</button>
            </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="/images/tesla-modelY.jpeg" alt="modelY">
          </div>
        </div>

        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Model S</h1>
              <p>Order Online for <a href="#">Touchless Delivery</a></p>
            </div>
            <div class="button">
              <button class="left-btn">CUSTOM ORDER</button>
              <button class="right-btn">EXISTING INVENTORY</button>
            </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="/images/tesla-modelS.webp" alt="modelS">
          </div>
        </div>

        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Model X</h1>
              <p>Order Online for <a href="#">Touchless Delivery</a></p>
            </div>
            <div class="button">
              <button class="left-btn">CUSTOM ORDER</button>
              <button class="right-btn">EXISTING INVENTORY</button>
            </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="/images/tesla-modelX.jpeg" alt="modelX">
          </div>
        </div>

        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Solar Panels</h1>
              <p>Lowest Cost Solar Panels in America</p>
            </div>
            <div class="button">
              <button class="left-btn">ORDER NOW</button>
              <button class="right-btn">LEARN MORE</button>
            </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="/images/tesla-solar-panels.webp" alt="solarPanels">
          </div>
        </div>

        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Solar Roof</h1>
              <p>Produce Clean Energy From Your Roof</p>
            </div>
            <div class="button">
              <button class="left-btn">ORDER NOW</button>
              <button class="right-btn">LEARN MORE</button>
            </div>
            </div>
          </div>
          <div class="img-wrap">
            <img src="/images/tesla-solar-roof.webp" alt="solarRoof">
          </div>
        </div>

        <div class="swiper-slide">
          <div class="details-wrap">
            <div class="details">
            <div>
              <h1>Accessories</h1>
            </div>
            <div class="button">
              <button class="left-btn">SHOP NOW</button>
            </div>
            </div>
          <div class="img-wrap-acc">
            <img class="accessory" src="/images/tesla-accessory.jpeg" alt="accessory">
          </div>
          <div class="footer-link">
            <a href="#">Tesla © 2022</a>
            <a href="#">Privacy & Legal</a>
            <a href="#">Contact</a>
            <a href="#">Careers</a>
            <a href="#">News</a>
            <a href="#">Engage</a>
            <a href="#">Locations</a>
          </div>
        </div>
        </div>
        
      </div>
    
    </div>
    <script src="/js/main.js"></script>
</body>
</html>