<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>

    <div class="header-logo">
      <img src="/images/tesla-headerLogo.svg" alt="logo">
    </div>
    <div class="model-menu">
      <ul>
        <li>Model S</li>
        <li>Model 3</li>
        <li>Model X</li>
        <li>Model Y</li>
        <li>Solar Roof</li>
        <li>Solar Panels</li>
      </ul>
    </div>
    <div class="header-menu">
      <ul>
        <li>Shop</li>
        <li>Account</li>
        <li>Menu</li>
      </ul>
    </div>

  </header>

  <main>
    <div id="slider">

      <div class="slider-contents">
        <h3>Model 3</h3>
        <p>Order Online for <a href="#">Touchless Delivery</a></p>
        <div class="button">
          <button>CUSTOM ORDER</button>
          <button>EXISTING INVENTORY</button>
        </div>
        <div class="down-arrow"></div>
        <img src="/images/tesla-model3.webp" alt="model3">
      </div>

      <div class="slider-contents">
        <h3>Model Y</h3>
        <p>Order Online for <a href="#">Touchless Delivery</a></p>
        <div class="button">
          <button>CUSTOM ORDER</button>
          <button>EXISTING INVENTORY</button>
        </div>
        <img src="/images/tesla-modelY.jpeg" alt="modelY">
      </div>

      <div class="slider-contents">
        <h3>Model S</h3>
        <p>Order Online for <a href="#">Touchless Delivery</a></p>
        <div class="button">
          <button>CUSTOM ORDER</button>
          <button>EXISTING INVENTORY</button>
        </div>
        <img src="/images/tesla-modelS.webp" alt="modelS">
      </div>

      <div class="slider-contents">
        <h3>Model X</h3>
        <p>Order Online for <a href="#">Touchless Delivery</a></p>
        <div class="button">
          <button>CUSTOM ORDER</button>
          <button>EXISTING INVENTORY</button>
        </div>
        <img src="/images/tesla-modelX.jpeg" alt="modelX">
      </div>

      <div class="slider-contents">
        <h3>Solar Panels</h3>
        <p>Lowest Cost Solar Panels in America</p>
        <div class="button">
          <button>ORDER NOW</button>
          <button>LEARN MORE</button>
        </div>
        <img src="/images/tesla-solar-panels.webp" alt="solarPanels">
      </div>

      <div class="slider-contents">
        <h3>Solar Roof</h3>
        <p>Produce Clean Energy From Your Roof</p>
        <div class="button">
          <button>ORDER NOW</button>
          <button>LEARN MORE</button>
        </div>
        <img src="/images/tesla-solar-roof.webp" alt="solarRoof">
      </div>

      <div class="slider-contents">
        <h3>Accessories</h3>
        <div class="button">
          <button>SHOP NOW</button>
        </div>
        <img src="/images/tesla-accessory.jpeg" alt="accessory">
      </div>
      
    </div>
  </main>
  <footer>
    
    <div class="footer-link">
      <a href="#">Tesla © 2022</a>
      <a href="#">Privacy & Legal</a>
      <a href="#">Contact</a>
      <a href="#">Careers</a>
      <a href="#">News</a>
      <a href="#">Engage</a>
      <a href="#">Locations</a>
    </div>
    
  </footer>
</body>
</html>